.text {
    font-family: "Montserrat Alternates", 'Arial', sans-serif;
font-size: 10px; /* размер букв */
line-height: 50px; /* расстояние между строками */
text-align: center; /* слева, по центру или справа */
font-weight: 700; /* жирность */
font-style: normal; /* наклон */
}
/* san-serif - шрифт с засечками
serif - шрифт без засечек */



